html {
  background: white;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  width: 40em;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.nav-section {
  /* background-image: linear-gradient(45deg, #ee0979, #ff6a00);
  opacity: 0.7;
  height: 3em; */
  margin-bottom: 2em;
}

.nav-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-section a {
  /* margin: 10px; */
  text-decoration: none;
  cursor:url("http://www.rw-designer.com/cursor-extern.php?id=129402"), pointer;
  color: inherit;
}

#portfolio-link {
  color: grey;
}

#home-nav-link {
  text-align: left;
}

.portfolio-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.portfolio-header::after {
  border-bottom: 0.3em solid rgb(0,255,54,0.6);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.portfolio-header h1 {
  padding-left: 50px;
}

.portfolio-image-section img {
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.portfolio-text-section {
  display: flex;
  justify-content: center;
  align-items: left;
  /* max-width: 40em; */
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #ee0979, #ff6a00);
  opacity: 0.7;
}

footer a {
  width: 2em;
  height: 2em;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
}

footer a img {
  max-width: 100%;
  max-height: 100%;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 30px;
  cursor:url("http://www.rw-designer.com/cursor-extern.php?id=129402"), auto;
}